@import 'bulma';

.hero {
  height: 100vh;
  width: 100%;
}

.hero__inner {
  display: flex;
  justify-content: center;
  max-width: 60rem;
  margin: auto;
}
.content {
  border: 2px solid #eee;
  padding: 2rem;
  box-shadow: 0px 5px 34px -1px rgba(0,0,0,0.75);

}
.input__userName {
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem;
}
.input__password {
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background: red;
  padding: 1rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__logo {
  font-size: 2em;
  color: white;
}

.btn {
  margin: 0 1rem;
}
