<nav class="container">
  <div class="container__inner">
      {{#link-to 'index' class="nav__logo"}}Twitch{{/link-to}}
    <div>
    {{#link-to 'login' class="button is-primary btn"}}Login{{/link-to}}
    {{#link-to 'register' class="button is-primary btn"}}Register{{/link-to}}
    </div>
  </div>
</nav>
{{outlet}}
