<div class="hero">
  <div class="hero__inner">
    <div class="content">
      <h2 class="login-title">Login</h2>
      {{!-- {{#simple-form onsubmit=(action "login") as |inputs|}} --}}
        {{input class="input__userName" type="text" placeholder="Username" }}
        {{input class="input__password" type="password" placeholder="Password" }}
      {{!-- {{/simple-form}} --}}
      <div class="btn-container">
        <div class="btn-container__left">
          <a class="button is-danger">BACK</a>
          <a class="button is-primary">LOGIN</a>
        </div>
        <a class="button is-success">REGISTER</a>
      </div>

    </div>
  </div>
</div>

{{outlet}}
