{{outlet}}

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card">
          <h2>Available Now!</h2>

          <div class="box">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
