<div class="main-container">
  <div class="main-container__inner">
<div class="content box">
    <h1 class="page-title">Login</h1>
  <form>
    <label for="email">Email</label>
    <input name="email" type="text" class="reg-email input">
<label for="password">Password</label>
    <input name="password"type="text" class="reg-password input">
<div class="button-group">
  <div class="button back-btn">back</div>
  <button class="button submit-btn"> Login</button>
</div>
  </form>
  </div>
  </div>
</div>
